<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <center><title>CIRCKET REGISTRATION FORM</title></center>
</head>
<body>
   <center><form action="/" method="POST">
                                  <h3>Name:</h3>
        <input type="text" name="name" placeholder="Enter your name:" required />

                                  <h3>Email:</h3>
        <input type="email" name="email" placeholder="Enter your email:" required />

                                  <h3>Contact:</h3>
        <input type="text" name="contact" placeholder="Enter your contact no:" required />

                                  <h3>Address:</h3>
        <input type="text" name="address" placeholder="Enter your address:" required />

                                  <h3>Age:</h3>
        <input type="number" name="age" placeholder="Enter your age:" required />

                                  <h3>Sport:</h3>
        <select name="sport" placeholder="sports" required>
            <option value="Cricket">Cricket</option>
            <option value="Hockey">Hockey</option>
            <option value="Football">Football</option>
            <option value="Tennis">Tennis</option>
            <option value="Basketball">Basketball</option>
        </select>
        <br /><br />
        <button type="submit">Submit</button>
    </form></center> 
</body>
</html>





